<address class="user-signature">
  <h2><%= user.name %></h2>
  
  <% if event = Current.user.visible_events.active.find_by(inviter_id: user.id) %>
    <blockquote class="user-signature__event">
      <p><%= event.event_topic.description %></p>
      <small>chamado às <%= event.created_at.in_time_zone.strftime("%Hh%M") %></small>
    </blockquote>
  <% end %>
  
  <small><%= format_phone user.phone %></small>
  
  <% if local_assigns.key?(:friends_since) && friends_since != nil %>
    <small>Adicionado em <time datetime=<%= friends_since.iso8601 %>><%= friends_since.in_time_zone.to_date.strftime("%d/%m/%Y") %></time></small>
  <% end%>
</address>