<turbo-frame id="bottom_sheet">

<main class="vertical center-contents">
  <% invite_count = @draft.invite_count %>
  
  <% if invite_count == 0 %>
    <p>Selecione ao menos uma pessoa antes de chamar um rolê.</p>

    <%= link_to "Voltar", "#", data: { action: "sheet#close", turbo: false }, class: "anchor" %>
  <% else %>
    <h2>Chamar rolê?</h2>

    <p><%= invite_count != 1 ? "#{invite_count} amigos receberão" : "Seu amigo receberá" %> a seguinte notificação:</p>

    <blockquote><%= format_topic(user: Current.user, event_topic: Current.user.event_draft.event_topic) %></blockquote>

    <%= button_to "Sim, chamar rolê", events_path, data: { turbo: false }, class: "button" %>
    
    <%= link_to "Cancelar", "#", data: { action: "sheet#close", turbo: false }, class: "anchor" %>
  <% end %>
</main>

</turbo-frame>